<div class="container d-flex flex-column">
  <div class="mx-auto">
    <div class="row">
    <p class="font-weight-bold">管理者ログイン</p>
    </div>
    
    <%= form_with model:@admin,url:admin_session_path, local:true do |f| %>
    
    <div class="row d-flex flex-column">
        <div class="field form-inline mb-2">
          <%= f.label :email,"メールアドレス",class:"form-label col-md-5 font-sm" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-md-7" %>
        </div>
      
        <div class="field form-inline">
          <%= f.label :password,"パスワード",class:"form-label col-md-5 font-sm" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control col-md-7" %>
        </div>
    </div>
    
    <div class="row mt-4">
          <div class="col-md-5"></div>
          <%= f.submit "ログイン", class:"btn btn-primary btn-sm" %>
    </div>
    
    <% end %>

  </div>
</div>

