<div class="container">
  <div class="mx-auto">

  <div class="row">
    <p class="font-weight-bold">会員情報編集</p>
  </div>

    <%= form_with model:@customer,url:customers_path, local:true do |f| %>

  <div class="row d-flex flex-column">
    <div class="form-group">
      <div class="field form-inline mb-2">
        <%= f.label :last_name,"氏名",class:"form-label col-md-3" %>
        <%= f.text_field :last_name, autofocus: true, class:"form-control col-md-3" %>
        <%= f.text_field :first_name, autofocus: true, class:"form-control col-md-3 ml-2" %>
      </div>

      <div class="field form-inline mb-2">
        <%= f.label :last_name_kana,"フリガナ",class:"form-label col-md-3" %>
        <%= f.text_field :last_name_kana, autofocus: true, class:"form-control col-md-3" %>
        <%= f.text_field :first_name_kana, autofocus: true, class:"form-control col-md-3 ml-2" %>
      </div>

      <div class="field form-inline mb-2">
        <%= f.label :postal_code,"郵便番号",class:"form-label col-md-3" %>
        <%= f.text_field :postal_code, autofocus: true, class:"form-control col-md-3" %>
      </div>

      <div class="field form-inline mb-2">
        <%= f.label :address,"住所",class:"form-label col-md-3" %>
        <%= f.text_field :address, autofocus: true, class:"form-control col-md-6" %>
      </div>

      <div class="field form-inline mb-2">
        <%= f.label :telephone_number,"電話番号",class:"form-label col-md-3" %>
        <%= f.telephone_field :telephone_number, autofocus: true, class:"form-control col-md-3" %>
      </div>

      <div class="field form-inline mb-4">
        <%= f.label :email,"メールアドレス",class:"form-label col-md-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-md-3" %>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-3"></div>
      
      <div class="actions">
        <%= f.submit "編集内容を保存", class:"btn btn-success btn-sm" %>
      </div>
    
      <div class="col-md-2"></div>
    
      <div class="actions">
        <%= link_to"退会する",customers_unsubscribe_path, class:"btn btn-danger btn-sm" %>
      </div>
  </div>

    <% end %>

  </div>
</div>