<div class="container">
  
  <div class="row">
    <p class="font-weight-bold">注文履歴詳細</p>
  </div>
    
  <div class="row">
    <div class="col-md-6">
    <p>注文情報</p>
      <table class="table table-bordered table-sm">
        <tr>
          <th scope="col" style="width: 25%" class="table-secondary">注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="table-secondary">配送先</th>
          <td><%= @order.postal_code %></br>
              <%= @order.address %></br>
              <%= @order.customer.full_name %></td>
        </tr>
        <tr>
          <th class="table-secondary">支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th class="table-secondary">ステータス</th>
          <td></td>
        </tr>
      </table>
    </div>
      
    <div class="col-md-4">
    <p>請求情報</p>
      <table class="table table-bordered table-sm">
        <tr>
          <th class="table-secondary">商品合計</th>
          <td><%= (@order.total_payment-@order.shipping_cost).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="table-secondary">配送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th class="table-secondary">ご請求額</th>
          <td><%= (@order.total_payment).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
      
  <div class="row">
    <p>注文内容</p>
      <table class="table table-bordered table-sm">
        <thead>
          <tr class="table-secondary">
            <th scope="col" style="width: 55%">商品</th>
            <th scope="col" style="width: 25%">単価(税込)</th>
            <th scope="col" style="width: 10%">個数</th>
            <th scope="col" style="width: 10%">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.price*order_detail.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
      
</div>

